#main
{
    min-height:300px;
    width:1050px;
    /* background-color: red; */
}
.items
{
    height:180px ;
    width: 180px;
    float:left;
    margin-right: 10px;
    /* background-color: chartreuse; */
}
#subcat{
    width: 80%;
    height: 80%;
}