/* #nav
{   
   height:7%;
   width:100%;
   background-color: brown; 
   text-align: center;
}
#nav a{
   text-decoration: none;
   color: white;
   margin: 0 30px 0 30px;
   font-size: 30px;
   font-weight: bold;
} */